.vs/
.vsconfig
*.user
.idea/
.DS_Store
obj/
bin/
sentry-unity/build:*
artifacts/

# Temp folder used during dotnet build to restore selected packages
/temp/

samples/unity-of-bugs/Assets/InitTestScene*

# Ignore build and Unity artifacts
package-dev/**/*.dll
package-dev/**/*.meta
package-dev/**/*.framework
package-dev/**/*.pdb
package-dev/**/*.xml
package-dev/**/TestSentryOptions.json
package-dev/Tests/Editor/TestFiles/

# Adding .meta to control target platforms for all of our DLLs
!package-dev/**/Sentry*.dll.meta

# required to be marked as iOS only
!package-dev/**/*.framework.meta

# Android SDK files
package-dev/Plugins/Android/Sentry/*

# Build output of Sentry.Unity
sentry-unity/Assets/Plugins/Sentry/
sentry-unity/Assets/Editor/Sentry/

# ignore temp assemblia alias lookup file
package-dev/alias-references.txt