[submodule "src/sentry-dotnet"]
	path = src/sentry-dotnet
	url = https://github.com/getsentry/sentry-dotnet.git
[submodule "modules/sentry-java"]
	path = modules/sentry-java
	url = https://github.com/getsentry/sentry-java.git
[submodule "modules/sentry-native"]
	path = modules/sentry-native
	url = https://github.com/getsentry/sentry-native.git
[submodule "modules/app-runner"]
	path = modules/app-runner
	url = https://github.com/getsentry/app-runner.git
