.vs/
.vsconfig
*.user
.idea/
.DS_Store
obj/
bin/
sentry-unity/build:*
artifacts/

# Temp folder used during dotnet build to restore selected packages
/temp/

# Some sample files we don't want included in the repo & the package
samples/unity-of-bugs/Assets/InitTestScene*
samples/unity-of-bugs/Assets/Plugins/Sentry/SentryCliOptions.asset*

# Ignore build and Unity artifacts
package-dev/**/*.dll
package-dev/**/*.exe
package-dev/**/*.meta
package-dev/**/*.framework
package-dev/**/*.pdb
package-dev/**/*.xml
package-dev/**/TestSentryOptions.json
package-dev/Tests/Editor/TestFiles/
package-dev/Plugins/*/Sentry/crashpad_handler*

# Adding .meta to control target platforms for all of our DLLs
!package-dev/**/Sentry*.dll.meta

# required to be marked as iOS only
!package-dev/**/*.framework.meta

# required to be excluded on all platforms because we don't want Unity to copy it during build
!package-dev/**/SentryNativeBridge.m.meta

# Android SDK files
package-dev/Plugins/Android/Sentry/*

# Build output of Sentry.Unity
sentry-unity/Assets/Plugins/Sentry/
sentry-unity/Assets/Editor/Sentry/

# Native SDK files
.sentry-native

# ignore temp assemblia alias lookup file
package-dev/alias-references.txt

# ignore integration test files
Samples/IntegrationTest
unity.log

# Ignore package release
test-package-release/
package-release/
package-release.zip

# Ignored DLLs generated during the test
src/Sentry.Unity/other/**
test/Sentry.Unity.Tests/other/**

# Files created with additional SDKs installed
samples/unity-of-bugs/*IL2CPPCache/
samples/unity-of-bugs/*IL2CPPStats/
*Player.link.log
