[submodule "src/sentry-dotnet"]
	path = src/sentry-dotnet
	url = https://github.com/getsentry/sentry-dotnet.git
[submodule "src/sentry-java"]
	path = src/sentry-java
	url = https://github.com/getsentry/sentry-java.git
	
