[submodule "src/sentry-dotnet"]
	path = src/sentry-dotnet
	url = https://github.com/getsentry/sentry-dotnet.git
[submodule "src/sentry-cocoa"]
	path = src/sentry-cocoa
	url = https://github.com/getsentry/sentry-cocoa
[submodule "src/sentry-java"]
	path = src/sentry-java
	url = https://github.com/getsentry/sentry-java.git
