.vs/
*.user
.idea/
obj/
bin/
Logs/
Library/
Temp/
Build/
.gradle
sentry-unity/build:*
.DS_Store

# Build output of Sentry.Unity
sentry-unity/Assets/Plugins/Sentry.Unity/
sentry-unity/Assets/Editor/Sentry.Unity/Sentry.Unity.Android.Editor*
sentry-unity/Assets/Editor/Sentry.Unity/
