name: "Build Unity SDK"
on:
  workflow_call:
    inputs:
      unity-version:
        required: true
        type: string

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_SHA: ${{ github.sha }}
  UNITY_VERSION: ${{ inputs.unity-version }}

defaults:
  run:
    shell: pwsh

jobs:
  build:
    name: Build - ${{ inputs.unity-version }}
    runs-on: ubuntu-22.04
    permissions:
      checks: write
      statuses: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@f68fdb76e2ea636224182cfb7377ff9a1708f9b8 # v1.3.0
        with:
          android: true
          dotnet: false
          haskell: true
          large-packages: false
          docker-images: false
          swap-storage: true

      - name: Checkout submodules
        run: git submodule update --init --recursive src/sentry-dotnet

      - name: Load env
        id: env
        run: echo "unityVersion=$(./scripts/ci-env.ps1 "$env:UNITY_SCRIPT_ARG")" >> $env:GITHUB_OUTPUT
        env:
          UNITY_SCRIPT_ARG: unity${{ env.UNITY_VERSION }}

      - name: Cache Unity Library
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: samples/unity-of-bugs/Library
          key: Library-unity-of-bugs-${{ steps.env.outputs.unityVersion }}-v1
          restore-keys: |
            Library-unity-of-bugs-${{ steps.env.outputs.unityVersion }}-

      - name: Docker Login
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # pinned v3
        with:
          registry: ghcr.io
          username: ${{ env.GITHUB_ACTOR }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start the Unity docker container
        run: ./scripts/ci-docker.sh "$UNITY_VERSION" 'ios' "$UNITY_LICENSE_SERVER_CONFIG"
        shell: bash
        env:
          UNITY_LICENSE_SERVER_CONFIG: ${{ secrets.UNITY_LICENSE_SERVER_CONFIG }}

      - name: Install .NET SDK
        if: runner.os != 'Windows'
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          global-json-file: global.json
        
      - name: Restore .NET Workload
        run: dotnet workload restore

      - name: Download CLI
        run: ./scripts/download-sentry-cli.ps1

      - name: Download Android SDK
        uses: vaind/download-artifact@e7141b6a94ef28aa3d828b52830cfa1f406a1848 # v4-with-wait-timeout
        with:
          name: Android-sdk
          path: package-dev/Plugins/Android
          wait-timeout: 3600

      - name: Download Cocoa SDK
        uses: vaind/download-artifact@e7141b6a94ef28aa3d828b52830cfa1f406a1848 # v4-with-wait-timeout
        with:
          name: Cocoa-sdk
          path: package-dev/Plugins
          wait-timeout: 3600

      - name: Download Linux SDK
        uses: vaind/download-artifact@e7141b6a94ef28aa3d828b52830cfa1f406a1848 # v4-with-wait-timeout
        with:
          name: Linux-sdk
          path: package-dev/Plugins/Linux
          wait-timeout: 3600

      - name: Download Windows SDK
        uses: vaind/download-artifact@e7141b6a94ef28aa3d828b52830cfa1f406a1848 # v4-with-wait-timeout
        with:
          name: Windows-sdk
          path: package-dev/Plugins/Windows
          wait-timeout: 3600

      - name: Build Sentry.Unity Solution
        run: docker exec unity dotnet build -c Release -v:d

      - name: Install assemblyalias
        run: docker exec unity dotnet tool install --global Alias --version 0.4.3 --allow-roll-forward

      - name: Alias editor assemblies
        run: docker exec unity /home/gh/.dotnet/tools/assemblyalias --target-directory "package-dev/Editor" --internalize --prefix "Sentry." --assemblies-to-alias "Microsoft*;Mono.Cecil*"

      - name: Alias runtime assemblies
        run: docker exec unity /home/gh/.dotnet/tools/assemblyalias --target-directory "package-dev/Runtime" --internalize --prefix "Sentry." --assemblies-to-alias "Microsoft*;System*"

      - name: Package for release
        run: |
          docker exec unity dotnet msbuild /t:UnityConfigureSentryOptions /p:Configuration=Release /p:OutDir=other src/Sentry.Unity
          ./scripts/pack.ps1

      - name: Upload release artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: ${{ env.GITHUB_SHA }}
          if-no-files-found: error
          path: |
            package-release.zip

      - name: Run Unity tests (playmode)
        run: docker exec unity dotnet msbuild /t:UnityPlayModeTest /p:Configuration=Release /p:OutDir=other test/Sentry.Unity.Tests

      - name: Run Unity tests (editmode)
        run: docker exec unity dotnet msbuild /t:UnityEditModeTest /p:Configuration=Release /p:OutDir=other test/Sentry.Unity.Editor.Tests

      - name: Publish Test Results
        uses: dorny/test-reporter@dc3a92680fcc15842eef52e8c4606ea7ce6bd3f3 # v2.1.1
        if: ${{ !cancelled() }}
        with:
          name: Unity Test Results - ${{ env.UNITY_VERSION }}
          path: artifacts/test/**/*.xml
          reporter: dotnet-nunit
          fail-on-error: false

      - name: Upload test artifacts (playmode)
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: Test results (playmode) - ${{ env.UNITY_VERSION }}
          path: artifacts/test/playmode

      - name: Upload test artifacts (editmode)
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: Test results (editmode) - ${{ env.UNITY_VERSION }}
          path: artifacts/test/editmode
