name: CI

on:
  push:
    paths-ignore:
      - 'CHANGELOG.md'
  # fixme: temporary build for all branches - reusable-workflows have an issue in combination with `pull_request`
  # trigger... see https://github.com/github/feedback/discussions/10679 for more details and status if it's fixed.
  #   branches:
  #     - main
  #     - release/**

  # pull_request:
  #   paths-ignore:
  #     - 'CHANGELOG.md'

env:
  LOWEST_SUPPORTED_UNITY_VERSION: 2019
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1

jobs:
  android-sdk:
    uses: ./.github/workflows/sdk.yml
    with:
      target: Android
      runsOn: ubuntu-latest

  ios-sdk:
    uses: ./.github/workflows/sdk.yml
    with:
      target: iOS
      runsOn: macos-latest

  windows-sdk:
    uses: ./.github/workflows/sdk.yml
    with:
      target: Windows
      runsOn: windows-latest

  build:
    name: Build - ${{ matrix.unity-version }}
    runs-on: ubuntu-latest
    # TODO add a "wait" step just before the artifacts are really needed - waiting for the SDK job to complete.
    #      That way, we can start downloading the docker container while the native SDKs are being built.
    #      There's no existing action to do that but a simple polling wait action could use the following API
    #      https://docs.github.com/en/rest/reference/actions#list-jobs-for-a-workflow-run
    #      https://api.github.com/repos/getsentry/sentry-unity/actions/runs/1816928507/jobs
    needs: [android-sdk, ios-sdk, windows-sdk]
    strategy:
      fail-fast: false
      matrix:
        # 2022.1.0a12 removed until S.T.J issues fixed
        unity-version: ['2019', '2020', '2021']
    steps:
      # Tag: 0.9.1
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@a40b8845c0683271d9f53dfcb887a7e181d3918b
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v2.3.3
        with:
          submodules: recursive

      - name: Load env
        id: env
        shell: pwsh
        run: echo "::set-output name=unityVersion::$(./.github/workflows/ci-env.ps1 "unity${{ matrix.unity-version }}")"

      - run: echo "::add-mask::${{ secrets.LICENSE_SERVER_URL }}"

      - name: Restore Unity Packages
        uses: actions/cache@v2
        with:
          path: |
            samples/unity-of-bugs/Library/Packages
            temp/unity-packages/Library/ScriptAssemblies/*.TestRunner.*
          key: samples/unity-of-bugs|${{ steps.env.outputs.unityVersion }}-${{ hashFiles('samples/unity-of-bugs/Packages/packages-lock.json') }}

      - uses: actions/download-artifact@v2
        with:
          name: Android-sdk
          path: package-dev/Plugins/Android

      - uses: actions/download-artifact@v2
        with:
          name: Android-libraries
          path: modules/sentry-java/sentry-android-ndk/build/intermediates/merged_native_libs/release/out/lib

      - uses: actions/download-artifact@v2
        with:
          name: iOS-sdk
          path: package-dev/Plugins/iOS

      - uses: actions/download-artifact@v2
        with:
          name: Windows-sdk
          path: package-dev/Plugins/Windows

      - name: Prepare the docker container
        run: docker run --name unity -v ${{ github.workspace }}:/sentry-unity --workdir /sentry-unity ghcr.io/getsentry/unity-docker:editor-ubuntu-${{ steps.env.outputs.unityVersion }}-main

      - name: Create Unity license config
        run: |
          docker exec unity mkdir -p /usr/share/unity3d/config/
          docker exec unity pwsh -c "Set-Content -Path /usr/share/unity3d/config/services-config.json -Value '${{ secrets.UNITY_LICENSE_SERVER_CONFIG }}'"

      - name: Install Unity UPM Packages
        run: docker exec unity dotnet msbuild /t:UnityRestorePackages /p:Configuration=Release /p:OutDir=other src/Sentry.Unity

      - name: Build Sentry.Unity Solution
        run: docker exec unity dotnet build -c Release

      - name: Assembly alias
        run: |
          docker exec unity bash -c 'dotnet tool install --global Alias --version 0.2.0 && \
          ~/.dotnet/tools/assemblyalias --target-directory "package-dev/Runtime" --internalize --prefix "Sentry." --assemblies-to-alias "Microsoft*;System*"'

      - name: Run Unity tests (playmode)
        # TODO: Run Play mode tests on 2021.2 or newer once S.T.J loading issue resolved.
        # System.MissingMethodException : Method not found: System.Text.Json.JsonDocument System.Text.Json.JsonDocument.Parse(System.ReadOnlyMemory`1<byte>,System.Text.Json.JsonDocumentOptions)
        if: ${{ !(startsWith(steps.env.outputs.unityVersion, '2021.2')) && !(startsWith(steps.env.outputs.unityVersion, '2022')) }}
        run: docker exec unity dotnet msbuild /t:UnityPlayModeTest /p:Configuration=Release /p:OutDir=other test/Sentry.Unity.Tests

      - name: Upload test artifacts (playmode)
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: Test results (playmode)
          path: artifacts/test/playmode

      - name: Run Unity tests (editmode)
        # TODO: Run Play mode tests on 2021.2 or newer once S.T.J loading issue resolved.
        # https://forum.unity.com/threads/unity-future-net-development-status.1092205/page-8#post-7602256
        if: ${{ !(startsWith(steps.env.outputs.unityVersion, '2021.2')) && !(startsWith(steps.env.outputs.unityVersion, '2022')) }}
        run: docker exec unity dotnet msbuild /t:UnityEditModeTest /p:Configuration=Release /p:OutDir=other test/Sentry.Unity.Editor.Tests

      - name: Upload test artifacts (editmode)
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: Test results (editmode)
          path: artifacts/test/editmode

      # Add Sentry DSN via the editor integration so native support is included in the final game
      - name: Configure Sentry via the Editor Window
        run: docker exec unity dotnet msbuild /t:UnityConfigureSentryOptions /p:Configuration=Release /p:OutDir=other src/Sentry.Unity

      # TODO: can we make unity only prepare the project, without compiling it, to unlock the unity license faster? iOS is already built like that.
      #       This option should do it: https://docs.unity3d.com/ScriptReference/BuildOptions.AcceptExternalModificationsToPlayer.html
      - name: Build Android Player with IL2CPP
        run: docker exec unity dotnet msbuild /t:UnityBuildPlayerAndroidIL2CPP /p:Configuration=Release /p:OutDir=other src/Sentry.Unity

      - name: Build iOS Player
        run: docker exec unity dotnet msbuild /t:UnityBuildPlayerIOS /p:Configuration=Release /p:OutDir=other src/Sentry.Unity

      - name: Prepare Sentry package for release
        shell: pwsh
        run: ./scripts/pack.ps1

      - name: Upload build artifacts if build failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: Build output
          path: artifacts/build

      - name: Upload Android test app for smoke test.
        uses: actions/upload-artifact@v2
        with:
          name: testapp-android-${{ matrix.unity-version }}
          path: samples/artifacts/builds/Android/IL2CPP_Player.apk
          if-no-files-found: error

      - name: Upload Xcode project for smoke test.
        uses: actions/upload-artifact@v2
        with:
          name: testapp-ios-project-${{ matrix.unity-version }}
          path: samples/artifacts/builds/iOS/Xcode
          if-no-files-found: error

      - name: Upload release artifacts
        uses: actions/upload-artifact@v2
        if: ${{ matrix.unity-version == env.LOWEST_SUPPORTED_UNITY_VERSION }}
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          # Adding the native libraries so the symbol collector craft target can find/upload them
          path: |
            package-release.zip
            modules/sentry-java/sentry-android-ndk/build/intermediates/merged_native_libs/release/out/lib/*

      - name: Upload Android Build
        uses: actions/upload-artifact@v2
        with:
          name: Android Build
          path: samples/artifacts/builds/Android
          if-no-files-found: error

  package-validation:
    needs: [build]
    name: UPM Package validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - name: Download UPM package
        uses: actions/download-artifact@v2
        with:
          # Artifact name is the commit sha. Which is what craft uses to find the relevant artifact.
          name: ${{ github.sha }}

      - name: Verify package content against snapshot
        shell: pwsh
        # If this step fails, you can accept the new file content by
        # running the following script locally with 'accept' as an argument
        # and committing the new snapshot file to your branch. i.e:
        # pwsh ./test/Scripts.Tests/test-pack-contents.ps1 accept
        run: ./test/Scripts.Tests/test-pack-contents.ps1

  windows-smoke-test:
    needs: [build]
    name: Run Windows Unity ${{ matrix.unity-version }} Smoke Test
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        unity-version: ['2019', '2020', '2021']
        include:
          - os: windows-latest
            unity-config-path: C:/ProgramData/Unity/config/
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - name: Load env
        run: echo "::set-output name=unityVersion::$(./.github/workflows/ci-env.ps1 "unity${{ matrix.unity-version }}")"

      - name: Download UPM package
        uses: actions/download-artifact@v2
        with:
          # Artifact name is the commit sha. Which is what craft uses to find the relevant artifact.
          name: ${{ github.sha }}

      - name: Setup Unity
        uses: getsentry/setup-unity@46c2e082d98cc3a825a5b59038cb31705fe9ff56
        with:
          unity-version: ${{ steps.env.outputs.unityVersion }}
          unity-modules: windows-il2cpp

      - run: echo "::add-mask::${{ secrets.LICENSE_SERVER_URL }}"

      - name: Create Unity license config
        run: |
          New-Item -Path '${{ matrix.unity-config-path }}' -ItemType Directory
          Set-Content -Path '${{ matrix.unity-config-path }}services-config.json' -Value '${{ secrets.UNITY_LICENSE_SERVER_CONFIG }}'

      # Step used to reduce the Unity path to avoid long path errors on Windows.
      - name: Make symbolic link for Unity (Windows)
        run: New-Item -ItemType SymbolicLink -Path "C:\${{ steps.env.outputs.unityVersion }}" -Target "C:\Program Files\Unity\Hub\Editor\${{ steps.env.outputs.unityVersion }}"

      - name: Integration Test - Create new Project
        run: ./test/Scripts.Integration.Test/integration-create-project.ps1 "${{ env.UNITY_PATH }}"

      - name: Integration Test - Build Standalone Player without Sentry SDK
        run: ./test/Scripts.Integration.Test/integration-build-project.ps1 "${{ env.UNITY_PATH }}"

      - name: Integration Test - Add Sentry to test project
        run: ./test/Scripts.Integration.Test/integration-update-sentry.ps1 "${{ env.UNITY_PATH }}"

      - name: Integration Test - Build Standalone Player Sentry SDK
        run: ./test/Scripts.Integration.Test/integration-build-project.ps1 "${{ env.UNITY_PATH }}"

      - name: Integration Test - Run Player - Smoke Test
        run: ./test/Scripts.Integration.Test/integration-run-smoke-test.ps1

  android-smoke-test:
    needs: [build]
    name: Run Android ${{ matrix.api-level }} Unity ${{ matrix.unity-version }} Smoke Test
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [21, 27, 29, 30]
        unity-version: ['2019', '2020', '2021']
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - name: Download test app artifact
        uses: actions/download-artifact@v2
        with:
          name: testapp-android-${{ matrix.unity-version }}
          path: samples/artifacts/builds/Android

      - name: Select AVD target
        id: select-avd-target
        shell: pwsh
        #api-level 30 image is only available with google services.
        run: |
          $avdTarget = "default"
          If (${{ matrix.api-level }} -eq 30)
          {
            $avdTarget = "google_apis"
          }
          Write-Host "steps.select-avd-target.outputs.target is $avdTarget"
          echo "::set-output name=target::$avdTarget"

      - name: Android emulator setup + Smoke test
        id: smoke-test
        continue-on-error: true
        timeout-minutes: 10
        # API 21 is no longer supported on Unity 2021.2.10f1
        if: ${{ (matrix.unity-version != '2021' || matrix.api-level != '21') }}
        uses: reactivecircus/android-emulator-runner@2b2ebf2e518e38a17180117fc2b677006db27330
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ steps.select-avd-target.outputs.target }}
          force-avd-creation: false
          ram-size: 2048M
          arch: x86
          cores: 2
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: sudo pwsh ./scripts/smoke-test-droid.ps1

      - name: Kill emulator if AVD failed.
        if: ${{ steps.smoke-test.outputs.smoke-status != 'Completed' }}
        shell: pwsh
        run: |
          Write-Host "Smoke test failed with status (${{ steps.smoke-test.outputs.smoke-status }}), closing simulator."
          adb emu kill
          sleep 7

      - name: Android emulator setup + Smoke test (Retry)
        id: smoke-test-retry
        continue-on-error: true
        timeout-minutes: 10
        # API 21 is no longer supported on Unity 2021.2.10f1 and we only want to retry the tests if the previous fail happened on the emulator startup.
        if: ${{ (matrix.unity-version != '2021' || matrix.api-level != '21') && steps.smoke-test.outputs.smoke-status != 'Completed'  }}
        uses: reactivecircus/android-emulator-runner@2b2ebf2e518e38a17180117fc2b677006db27330
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ steps.select-avd-target.outputs.target }}
          ram-size: 2048M
          cores: 2
          arch: x86
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: sudo pwsh ./scripts/smoke-test-droid.ps1

      - name: Throw error if Smoke test failed
        # We want to throw an error if the smoke test failed.
        # We will ignore flaky errors from the emulator setup.
        if: ${{ (steps.smoke-test.outcome != 'success' && steps.smoke-test.outputs.smoke-status == 'Completed') || (steps.smoke-test-retry.outcome != 'success' && steps.smoke-test-retry.outputs.smoke-status == 'Completed') }}
        run: exit -1

      - name: Upload screenshot if smoke test failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: testapp-android-screenshot-${{ matrix.api-level }}-${{ matrix.unity-version }}
          path: samples/artifacts/builds/Android/screen.png

  ios-smoke-test-build:
    needs: [build]
    name: Build iOS Unity ${{ matrix.unity-version }} Smoke Test
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        unity-version: ['2019', '2020', '2021']
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - name: Download XCode app artifact
        uses: actions/download-artifact@v2
        with:
          name: testapp-ios-project-${{ matrix.unity-version }}
          path: samples/artifacts/builds/iOS/Xcode

      - name: Build iOS package
        shell: pwsh
        run: ./Scripts/smoke-test-ios.ps1 Build

      - name: Upload iOS test app for smoke test.
        uses: actions/upload-artifact@v2
        with:
          name: testapp-ios-${{ matrix.unity-version }}
          # Ignore the files that are not required for the test.
          path: |
            samples/artifacts/builds/iOS/Xcode/archive/Unity-iPhone/Build/Products/Release-iphonesimulator/
            !**/Release-iphonesimulator/*.dSYM
            !**/Release-iphonesimulator/UnityFramework.framework/*

  ios-smoke-test-run:
    needs: [ios-smoke-test-build]
    name: Run iOS ${{ matrix.ios-runtime }} Unity ${{ matrix.unity-version }} Smoke Test
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        unity-version: ['2019', '2020', '2021']
        # Numbers as string otherwise GH will reformat the runtime numbers removing the fractions.
        ios-runtime: ['12.0', '12.4', '13.0', '14.1', latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - name: Download app artifact
        uses: actions/download-artifact@v2
        with:
          name: testapp-ios-${{ matrix.unity-version }}
          path: samples/artifacts/builds/iOS/Xcode/archive/Unity-iPhone/Build/Products/Release-iphonesimulator

      - name: Setup xcode-install
        # Github Virtual machine already sets the runtime and simulator for the latest release.
        if: ${{ matrix.ios-runtime != 'latest'}}
        shell: pwsh
        run: gem install xcode-install

      - name: Setup ${{matrix.ios-runtime}} runtime
        if: ${{ matrix.ios-runtime != 'latest'}}
        shell: pwsh
        run: xcversion simulators --install='iOS ${{matrix.ios-runtime}}'

      - name: Setup ${{matrix.ios-runtime}} Simulator
        if: ${{ matrix.ios-runtime != 'latest' }}
        shell: pwsh
        # We need to setup an simulator in order to xCode to populate the simulators for the given runtime.
        run: xcrun simctl create InitialSimulator "iPhone 8" "iOS${{ matrix.ios-runtime }}"

      - name: Smoke test
        id: smoke-test-ios
        timeout-minutes: 10
        shell: pwsh
        run: |
          $runtime = "${{ matrix.ios-runtime }}"
          If ($runtime -ne "latest")
          {
            $runtime = "iOS " + $runtime
          }
          ./Scripts/smoke-test-ios.ps1 Test "$runtime"
