name: Create Unity Version Matrix

on:
  workflow_call:
    inputs:
      event-name:
        description: 'Event name (pull_request, push, etc.)'
        required: true
        type: string
    outputs:
      unity-matrix:
        description: 'Unity version matrix'
        value: ${{ jobs.create-unity-matrix.outputs.unity-matrix }}

env:
  # Unity versions used in PRs
  PR_UNITY_VERSIONS: '["2022.3", "6000.0", "6000.3"]'
  # Unity versions used on main branch
  FULL_UNITY_VERSIONS: '["2021.3", "2022.3", "6000.0", "6000.3"]'

jobs:
  create-unity-matrix:
    runs-on: ubuntu-latest
    outputs:
      unity-matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set Unity version matrices based on event type
        id: set-matrix
        shell: bash
        env:
          EVENT_NAME: ${{ inputs.event-name }}
          PR_UNITY_VERSIONS_VALUE: ${{ env.PR_UNITY_VERSIONS }}
          FULL_UNITY_VERSIONS_VALUE: ${{ env.FULL_UNITY_VERSIONS }}
        run: |
          if [[ "$EVENT_NAME" == "pull_request" ]]; then
            versions="$PR_UNITY_VERSIONS_VALUE"
          else
            versions="$FULL_UNITY_VERSIONS_VALUE"
          fi

          # Unity version matrix
          echo "matrix={\"unity-version\":$versions}" >> $GITHUB_OUTPUT