name: format code
on:
  pull_request:

jobs:
  format-code:
    name: Format Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install clang-format
        run: brew install clang-format
      - name: Format C, C++, Objective-C and header files
        run: >
          find samples/. -type f
          -name "*.h"
          -o -name "*.c"
          -o -name "*.cpp"
          -o -name "*.m"
          | xargs clang-format -i -style=file

      - name: Format C# Code
        run: dotnet format Sentry.Unity.sln
      
      # actions/checkout fetches only a single commit in a detached HEAD state. Therefore
      # we need to pass the current branch, otherwise we can't commit the changes.
      # GITHUB_HEAD_REF is the name of the head branch. GitHub Actions only sets this for PRs.
      - name: Commit Formatted Code
        run: ./scripts/commit-formatted-code.sh $GITHUB_HEAD_REF
