on:
  workflow_call:
    inputs:
      runsOn:
        required: true
        type: string
      target:
        required: true
        type: string

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1

jobs:
  build:
    runs-on: ${{ inputs.runsOn }}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2

      - name: Get submodules status
        run: git submodule status | tee submodules-status

      - run: cp -r package-dev/Plugins/${{ inputs.target }} sdk-static || echo "never mind, no files checked in..."
        shell: bash

      - name: Restore from cache
        uses: actions/cache@v2
        id: cache
        with:
          # Note: native SDKs are cached and only built if the respective 'package-dev/Plugins/' directories are empty.
          # Output changes only depending on the git sha of the submodules
          # hash of package/package.json for cache busting on release builds (version bump)
          path: |
            package-dev/Plugins
            modules/sentry-java/sentry-android-ndk/build/intermediates/merged_native_libs/release/out/lib
          key: sdk=${{ inputs.target }}-${{ hashFiles('submodules-status', 'package/package.json', 'Directory.Build.targets', 'sdk-static/**') }}

      - name: Checkout submodules
        if: steps.cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          if [[ "${{ inputs.target }}" == "Android" ]]; then
            submodules="modules/sentry-java"
          elif [[ "${{ inputs.target }}" == "iOS" || "${{ inputs.target }}" == "macOS"  ]]; then
            submodules="modules/sentry-cocoa"
          else
            submodules="modules/sentry-native"
          fi
          ./scripts/init-submodules.sh src/sentry-dotnet $submodules

      - name: Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: dotnet msbuild /t:Build${{ inputs.target }}SDK /p:Configuration=Release /p:OutDir=other src/Sentry.Unity

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ inputs.target }}-sdk
          path: package-dev/Plugins/${{ inputs.target }}
          retention-days: ${{ github.ref_name == 'main' && 14 || 1 }}

      - uses: actions/upload-artifact@v2
        if: ${{ inputs.target == 'Android' }}
        with:
          name: ${{ inputs.target }}-libraries
          path: modules/sentry-java/sentry-android-ndk/build/intermediates/merged_native_libs/release/out/lib/*
          retention-days: 1
