name: "Build native SDKs"
on:
  workflow_call:
    inputs:
      runsOn:
        required: true
        type: string
      target:
        required: true
        type: string

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1
  TARGET: ${{ inputs.target }}

jobs:
  build:
    runs-on: ${{ inputs.runsOn }}
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Select submodules
        id: env
        shell: bash
        run: |
          if [[ "${TARGET}" == "Android" ]]; then
            submodules="modules/sentry-java"
          elif [[ "${TARGET}" == "Cocoa" ]]; then
            submodules=""
          else
            submodules="modules/sentry-native"
          fi
          echo "submodulesPath=$submodules" >> $GITHUB_OUTPUT
          if [[ "$submodules" == "" ]]; then
            echo "submodules=src/sentry-dotnet" >> $GITHUB_OUTPUT
          else
            echo "submodules=src/sentry-dotnet $submodules" >> $GITHUB_OUTPUT
          fi
      
      - name: Get submodule status
        run: git submodule status --cached $SUBMODULES | tee submodules-status
        shell: bash
        env:
          SUBMODULES: ${{ steps.env.outputs.submodules }}

      - name: Update submobules
        run: git submodule update --init --recursive ${{ steps.env.outputs.submodules }}

      - run: |
          if [[ "${{ env.TARGET }}" == "Cocoa" ]]; then
            cp -r package-dev/Plugins/iOS sdk-static/ || echo "never mind, no iOS files checked in..."
            cp -r package-dev/Plugins/macOS sdk-static/ || echo "never mind, no macOS files checked in..."
          elif [[ "${{ env.TARGET }}" == "LinuxArm64" ]]; then
            mkdir -p sdk-static/Linux/Sentry
            cp -r package-dev/Plugins/Linux/Sentry/arm64 sdk-static/Linux/Sentry/ || echo "never mind, no arm64 files checked in..."
          else
            cp -r package-dev/Plugins/${{ env.TARGET }} sdk-static || echo "never mind, no files checked in..."
          fi
        shell: bash

      - name: Restore from cache
        uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3
        id: cache
        with:
          # Note: native SDKs are cached and only built if the respective 'package-dev/Plugins/' directories are empty.
          # Output changes only depending on the git sha of the submodules
          # hash of package/package.json for cache busting on release builds (version bump)
          path: |
            package-dev/Plugins
          key: sdk=${{ env.TARGET }}-${{ hashFiles('submodules-status', 'package/package.json', 'Directory.Build.targets', 'sdk-static/**') }}${{ env.TARGET == 'Cocoa' && hashFiles('modules/sentry-cocoa.properties') || '' }}

      - name: Installing Linux Dependencies
        if: ${{ env.TARGET == 'Linux' && steps.cache.outputs.cache-hit != 'true' }}
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y zlib1g-dev libcurl4-openssl-dev libssl-dev build-essential cmake curl
          set -eo pipefail
          curl -sSL --retry 5 https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --channel 9.0 --install-dir /usr/share/dotnet
          echo "/usr/share/dotnet" >> $GITHUB_PATH
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Installing Linux ARM64 Dependencies
        if: ${{ env.TARGET == 'LinuxArm64' && steps.cache.outputs.cache-hit != 'true' }}
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y zlib1g-dev libcurl4-openssl-dev libssl-dev build-essential cmake curl
          set -eo pipefail
          curl -sSL --retry 5 https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --channel 9.0 --install-dir /usr/share/dotnet
          echo "/usr/share/dotnet" >> $GITHUB_PATH
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Install .NET SDK
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          global-json-file: global.json
          
      - name: Restore .NET Workload
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: dotnet workload restore
      
      - name: Build
        if: steps.cache.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          if ($env:TARGET -eq "Linux" -or $env:TARGET -eq "LinuxArm64") {
            dotnet msbuild /t:BuildLinuxSDK /p:Configuration=Release /p:OutDir=other src/Sentry.Unity
          } else {
            dotnet msbuild /t:Build$($env:TARGET)SDK /p:Configuration=Release /p:OutDir=other src/Sentry.Unity
          }

      - name: Move Linux artifacts to arch folder
        if: ${{ (env.TARGET == 'Linux' || env.TARGET == 'LinuxArm64') && steps.cache.outputs.cache-hit != 'true' }}
        shell: pwsh
        run: |
          $archFolder = if ($env:TARGET -eq "Linux") { "x86_64" } else { "arm64" }
          New-Item -ItemType Directory -Force -Path "package-dev/Plugins/Linux/Sentry/$archFolder"
          Move-Item "package-dev/Plugins/Linux/Sentry/libsentry.so" "package-dev/Plugins/Linux/Sentry/$archFolder/"
          Move-Item "package-dev/Plugins/Linux/Sentry/libsentry.dbg.so" "package-dev/Plugins/Linux/Sentry/$archFolder/"

      - name: Upload build logs on failure
        # No build logs for Cocoa SDK as we assemble the xcframework from a downloaded release artifact
        if: ${{ failure() && env.TARGET != 'Cocoa' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          path: ${{ steps.env.outputs.submodulesPath }}/build.log
          # Lower retention period - we only need this to retry CI.
          retention-days: 14

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: ${{ env.TARGET == 'Cocoa' }}
        with:
          name: ${{ env.TARGET }}-sdk
          path: |
            package-dev/Plugins/iOS/Sentry.xcframework~
            package-dev/Plugins/macOS/Sentry
          # Lower retention period - we only need this to retry CI.
          retention-days: 14

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: ${{ env.TARGET == 'LinuxArm64' }}
        with:
          name: ${{ env.TARGET }}-sdk
          path: package-dev/Plugins/Linux/Sentry/arm64
          # Lower retention period - we only need this to retry CI.
          retention-days: 14

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: ${{ env.TARGET != 'Cocoa' && env.TARGET != 'LinuxArm64' }}
        with:
          name: ${{ env.TARGET }}-sdk
          path: package-dev/Plugins/${{ env.TARGET }}
          # Lower retention period - we only need this to retry CI.
          retention-days: 14
