name: "SmokeTest: Build iOS"
on:
  workflow_call:
    inputs:
      unity-version:
        required: true
        type: string
  
defaults:
  run:
    shell: pwsh
  
jobs:
  build:
    name: ${{ inputs.unity-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: iOS
            check_symbols: false
            build_platform: iOS
    env:
      UNITY_PATH: docker exec unity unity-editor
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: echo "::add-mask::${{ secrets.LICENSE_SERVER_URL }}"

      - name: Docker Login
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # pinned v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} 
          password: ${{ secrets.GITHUB_TOKEN }} 

      - name: Start the Unity docker container
        env:
          UNITY_VERSION: ${{ inputs.unity-version }}
          UNITY_LICENSE_CONFIG: ${{ secrets.UNITY_LICENSE_SERVER_CONFIG }}
        run: ./scripts/ci-docker.sh "$UNITY_VERSION" 'iOS' "$UNITY_LICENSE_CONFIG"
        shell: bash

      # Workaround for missing libMonoPosixHelper.so
      # See https://github.com/getsentry/sentry-unity/pull/1295
      - name: Install mono-devel
        if: ${{ inputs.unity-version == '2019' }}
        run: |
          docker exec --user root unity apt-get update
          docker exec --user root unity apt-get -y -q install mono-devel

      - name: Download IntegrationTest project
        uses: actions/download-artifact@v4
        with:
          name: smoke-test-${{ inputs.unity-version }}

      - name: Extract project archive
        run: tar -xvzf test-project.tar.gz

      - name: Download UPM package
        uses: vaind/download-artifact@e7141b6a94ef28aa3d828b52830cfa1f406a1848
        with:
          name: ${{ github.sha }}
          wait-timeout: 3600

      - name: Extract UPM package
        run: ./test/Scripts.Integration.Test/extract-package.ps1

      - name: Add Sentry to the project
        run: ./test/Scripts.Integration.Test/add-sentry.ps1 -UnityPath "${{ env.UNITY_PATH }}"

      - name: Configure Sentry
        env:
          BUILD_PLATFORM: ${{ matrix.build_platform }}
        run: ./test/Scripts.Integration.Test/configure-sentry.ps1 -UnityPath "${{ env.UNITY_PATH }}" -Platform "$BUILD_PLATFORM" -CheckSymbols

      - name: Build Project
        env:
          BUILD_PLATFORM: ${{ matrix.build_platform }}
          UNITY_VERSION: ${{ inputs.unity-version }}
        run: ./test/Scripts.Integration.Test/build-project.ps1 -UnityPath "${{ env.UNITY_PATH }}" -Platform "$BUILD_PLATFORM" -CheckSymbols:$false -UnityVersion "$UNITY_VERSION"

      # We create tar explicitly because upload-artifact is slow for many files.
      - name: Create archive
        shell: bash
        run: |
          # Note: remove local.properties file that contains Android SDK & NDK paths in the Unity installation.
          rm -rf samples/IntegrationTest/Build/*_BackUpThisFolder_ButDontShipItWithYourGame
          tar -cvzf test-app-runtime.tar.gz samples/IntegrationTest/Build

      # Upload runtime initialization build
      - name: Upload test app
        uses: actions/upload-artifact@v4
        with:
          name: testapp-ios-${{ inputs.unity-version }}-runtime
          if-no-files-found: error
          path: test-app-runtime.tar.gz
          retention-days: 14

      - name: Overwrite OptionsConfiguration for build-time initialization
        run: |
          $optionsPath = "samples/IntegrationTest/Assets/Scripts/OptionsConfiguration.cs"
          $content = Get-Content $optionsPath -Raw
          $content = $content -replace 'IosNativeInitializationType = NativeInitializationType.Runtime', 'IosNativeInitializationType = NativeInitializationType.BuildTime'
          Set-Content $optionsPath $content

      - name: Build Project for mobile platforms (build-time initialization)
        env:
          BUILD_PLATFORM: ${{ matrix.build_platform }}
          UNITY_VERSION: ${{ inputs.unity-version }}
        run: ./test/Scripts.Integration.Test/build-project.ps1 -UnityPath "${{ env.UNITY_PATH }}" -Platform "$BUILD_PLATFORM" -CheckSymbols:$false -UnityVersion "$UNITY_VERSION"

      - name: Create archive (build-time initialization)
        shell: bash
        run: |
          rm -rf samples/IntegrationTest/Build/*_BackUpThisFolder_ButDontShipItWithYourGame
          tar -cvzf test-app-buildtime.tar.gz samples/IntegrationTest/Build

      # Upload build-time initialization build
      - name: Upload test app (build-time initialization)
        uses: actions/upload-artifact@v4
        with:
          name: testapp-ios-${{ inputs.unity-version }}-buildtime
          if-no-files-found: error
          path: test-app-buildtime.tar.gz
          retention-days: 14
          
      - name: Upload IntegrationTest project on failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: failed-project-ios-${{ inputs.unity-version }}
          path: |
            samples/IntegrationTest
            !samples/IntegrationTest/Build/*_BackUpThisFolder_ButDontShipItWithYourGame
          # Lower retention period - we only need this to retry CI.
          retention-days: 14