name: "SmokeTest: Build Android"
on:
  workflow_call:
    inputs:
      unity-version:
        required: true
        type: string

defaults:
  run:
    shell: pwsh

jobs:
  build:
    name: ${{ inputs.unity-version }}
    runs-on: ubuntu-latest-4-cores
    env:
      GITHUB_ACTOR: ${{ github.actor }}
      UNITY_PATH: docker exec unity unity-editor
      UNITY_VERSION: ${{ inputs.unity-version }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Docker Login
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # pinned v3
        with:
          registry: ghcr.io
          username: ${{ env.GITHUB_ACTOR }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start the Unity docker container
        run: ./scripts/ci-docker.sh "$UNITY_VERSION" 'android' "$UNITY_LICENSE_SERVER_CONFIG"
        shell: bash
        env:
          UNITY_LICENSE_SERVER_CONFIG: ${{ secrets.UNITY_LICENSE_SERVER_CONFIG }}

      - name: Download IntegrationTest project
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: smoke-test-${{ env.UNITY_VERSION }}

      - name: Extract project archive
        run: tar -xvzf test-project.tar.gz

      - name: Cache Unity Library
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: samples/IntegrationTest/Library
          key: Library-IntegrationTest-Android-${{ env.UNITY_VERSION }}-v1
          restore-keys: |
            Library-IntegrationTest-Android-${{ env.UNITY_VERSION }}-
            Library-IntegrationTest-Android-

      - name: Restore cached build without Sentry
        id: cache-build-nosentry
        uses: actions/cache@v4
        with:
          path: samples/IntegrationTest/Build-NoSentry
          key: build-nosentry-Android-${{ inputs.unity-version }}

      - name: Build without Sentry SDK
        if: steps.cache-build-nosentry.outputs.cache-hit != 'true'
        run: ./test/Scripts.Integration.Test/build-project.ps1 -UnityPath "$env:UNITY_PATH" -Platform "Android" -CheckSymbols:$false -BuildDirName "Build-NoSentry"

      - name: Download UPM package
        uses: vaind/download-artifact@e7141b6a94ef28aa3d828b52830cfa1f406a1848 # v4-with-wait-timeout
        with:
          name: package-release
          wait-timeout: 3600

      - name: Extract UPM package
        run: ./test/Scripts.Integration.Test/extract-package.ps1

      - name: Add Sentry to the project
        run: ./test/Scripts.Integration.Test/add-sentry.ps1 -UnityPath "$env:UNITY_PATH" -PackagePath "test-package-release"

      - name: Configure Sentry
        run: ./test/Scripts.Integration.Test/configure-sentry.ps1 -UnityPath "$env:UNITY_PATH" -Platform "Android" -CheckSymbols -TestMode "integration"
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_TEST_DSN }}

      - name: Export APK - Runtime Initialization
        run: ./test/Scripts.Integration.Test/build-project.ps1 -UnityPath "$env:UNITY_PATH" -Platform "Android" -CheckSymbols:$true -UnityVersion "$env:UNITY_VERSION"

      - name: Compare build sizes (Runtime)
        run: ./test/Scripts.Integration.Test/measure-build-size.ps1 -Path1 "samples/IntegrationTest/Build-NoSentry" -Path2 "samples/IntegrationTest/Build" -Platform "Android" -UnityVersion "$env:UNITY_VERSION"

      - name: Upload build size measurement
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: build-size-Android-${{ env.UNITY_VERSION }}
          path: build-size-measurements/*.json
          retention-days: 1

      - name: Upload .apk
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: testapp-android-compiled-${{ env.UNITY_VERSION }}-runtime
          path: samples/IntegrationTest/Build/*.apk # Collect app but ignore the files that are not required for the test.
          retention-days: 14 # Lower retention period - we only need this to retry CI.

      # TODO: Get this back in
      # - name: Overwrite OptionsConfiguration for build-time initialization
      #   run: |
      #     $optionsPath = "samples/IntegrationTest/Assets/Scripts/OptionsConfiguration.cs"
      #     $content = Get-Content $optionsPath -Raw
      #     $content = $content -replace 'AndroidNativeInitializationType = NativeInitializationType.Runtime', 'AndroidNativeInitializationType = NativeInitializationType.BuildTime'
      #     Set-Content $optionsPath $content

      # - name: Export APK - Build-Time Initialization
      #   run: ./test/Scripts.Integration.Test/build-project.ps1 -UnityPath "$env:UNITY_PATH" -Platform "Android" -CheckSymbols:$true -UnityVersion "$env:UNITY_VERSION"

      # - name: Upload .apk
      #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      #   with:
      #     name: testapp-android-compiled-${{ env.UNITY_VERSION }}-buildtime
      #     path: samples/IntegrationTest/Build/*.apk # Collect app but ignore the files that are not required for the test.
      #     retention-days: 14 # Lower retention period - we only need this to retry CI.

      - name: Upload IntegrationTest project on failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: failed-project-android-${{ env.UNITY_VERSION }}
          path: |
            samples/IntegrationTest
            !samples/IntegrationTest/Build/*_BackUpThisFolder_ButDontShipItWithYourGame
          retention-days: 14 # Lower retention period - we only need this to retry CI.

