name: "SmokeTest: Create Project"
on:
  workflow_call:
    inputs:
      unity-version:
        required: true
        type: string

defaults:
  run:
    shell: pwsh

jobs:
  create:
    name: ${{ inputs.unity-version }}
    runs-on: ubuntu-latest
    env:
      GITHUB_ACTOR: ${{ github.actor }}
      UNITY_PATH: docker exec unity unity-editor
      UNITY_VERSION: ${{ inputs.unity-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

    - run: echo "::add-mask::$LICENSE_SERVER_URL"
      env:
        LICENSE_SERVER_URL: ${{ secrets.LICENSE_SERVER_URL }}

    - name: Docker Login
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # pinned v3
      with:
        registry: ghcr.io
        username: ${{ env.GITHUB_ACTOR }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Cache IntegrationTest Project
      id: cache-project
      uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
      with:
        path: samples/IntegrationTest
        key: IntegrationTest-Project-${{ env.UNITY_VERSION }}-${{ hashFiles('test/Scripts.Integration.Test/**') }}-v1
        restore-keys: |
          IntegrationTest-Project-${{ env.UNITY_VERSION }}-

    - name: Start the Unity docker container
      if: steps.cache-project.outputs.cache-hit != 'true'
      run: ./scripts/ci-docker-start.sh "$UNITY_VERSION" 'base' "$UNITY_LICENSE_SERVER_CONFIG"
      shell: bash
      env:
        UNITY_LICENSE_SERVER_CONFIG: ${{ secrets.UNITY_LICENSE_SERVER_CONFIG }}

    - name: Create new Project
      if: steps.cache-project.outputs.cache-hit != 'true'
      run: ./test/Scripts.Integration.Test/create-project.ps1 -UnityPath "$env:UNITY_PATH"

    # We create tar explicitly because upload-artifact is slow for many files.
    - name: Create archive
      run: tar -cvzf test-project.tar.gz samples/IntegrationTest

    - name: Upload project
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: smoke-test-${{ env.UNITY_VERSION }}
        if-no-files-found: error
        path: test-project.tar.gz
        # Lower retention period - we only need this to retry CI.
        retention-days: 14

    - name: Cleanup Unity container and return license
      if: always()
      run: ./scripts/ci-docker-stop.sh
      shell: bash 
