name: "SmokeTest: Create Project"
on:
  workflow_call:
    inputs:
      unity-version:
        required: true
        type: string

defaults:
  run:
    shell: pwsh

jobs:
  create:
    name: ${{ inputs.unity-version }}
    runs-on: ubuntu-latest
    env:
      UNITY_PATH: docker exec unity unity-editor
      GITHUB_ACTOR: ${{ github.actor }}
      UNITY_VERSION: ${{ inputs.unity-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - run: echo "::add-mask::${{ secrets.LICENSE_SERVER_URL }}"

    - name: Docker Login
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # pinned v3
      with:
        registry: ghcr.io
        username: ${{ env.GITHUB_ACTOR }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Start the Unity docker container
      run: ./scripts/ci-docker.sh "${{ env.UNITY_VERSION }}" 'base' '${{ secrets.UNITY_LICENSE_SERVER_CONFIG }}'
      shell: bash

    - name: Create new Project
      run: ./test/Scripts.Integration.Test/create-project.ps1 -UnityPath "${{ env.UNITY_PATH }}"

    # We create tar explicitly because upload-artifact is slow for many files.
    - name: Create archive
      run: tar -cvzf test-project.tar.gz samples/IntegrationTest

    - name: Upload project
      uses: actions/upload-artifact@v4
      with:
        name: smoke-test-${{ env.UNITY_VERSION }}
        if-no-files-found: error
        path: test-project.tar.gz
        # Lower retention period - we only need this to retry CI.
        retention-days: 14 
