name: "SmokeTest: Run Android"
on:
  workflow_call:
    inputs:
      unity-version:
        required: true
        type: string
      api-level:
        required: true
        type: string
      init-type:
        required: true
        type: string
    # Map the workflow outputs to job outputs
    outputs:
      status:
        description: "Smoke test status"
        value: ${{ jobs.run.outputs.status }}

defaults:
  run:
    shell: pwsh

jobs:
  run:
    name: ${{ inputs.unity-version }} ${{ inputs.api-level }} ${{ inputs.init-type }}
    runs-on: ubuntu-latest
    env:
      ARTIFACTS_PATH: samples/IntegrationTest/test-artifacts/
      HOMEBREW_NO_INSTALL_CLEANUP: 1
    # Map the job outputs to step outputs
    outputs:
      status: ${{ steps.smoke-test.outputs.status }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3 # v4
      
      - name: Download test app artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: testapp-android-compiled-${{ inputs.unity-version }}-${{ inputs.init-type }}
          path: samples/IntegrationTest/Build

      # See https://github.blog/changelog/2023-02-23-hardware-accelerated-android-virtualization-on-actions-windows-and-linux-larger-hosted-runners/
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      # Make sure that the required directories and .cfg do exists. Workaround to keep ADV happy on `ubuntu-latest`.
      - name: Setup Android directories
        run: |
          mkdir -p $HOME/.android
          mkdir -p $HOME/.android/avd
          touch $HOME/.android/repositories.cfg

      - name: Run Android Smoke Tests
        uses: reactivecircus/android-emulator-runner@d94c3fbe4fe6a29e4a5ba47c12fb47677c73656b # pin@v2.33.0
        id: smoke-test
        timeout-minutes: 30
        with:
          api-level: ${{ inputs.api-level }}
          target: 'google_apis'
          channel: 'stable'
          force-avd-creation: true
          disable-animations: true
          disable-spellchecker: true
          emulator-options: >
            -no-window
            -no-snapshot-save
            -gpu swiftshader_indirect
            -noaudio
            -no-boot-anim
            -camera-back none
            -camera-front none
            -timezone US/Pacific
          arch: x86_64
          script: |
            adb wait-for-device
            adb shell input keyevent 82
            adb devices -l
            pwsh ./scripts/smoke-test-android.ps1 -WarnIfFlaky

      - name: Upload artifacts on failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: testapp-android-logs-${{ inputs.api-level }}-${{ inputs.unity-version }}
          path: ${{ env.ARTIFACTS_PATH }}
          retention-days: 14